<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johansen.dk.madimage">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/easyorder_launcher"
        android:label="easyOrder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.basketActivity" />
        <activity android:name=".activities.optionsActivity" />
        <activity android:name=".activities.loginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:configChanges="locale|orientation"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.selectionActivity" />
        <activity android:name=".activities.recieptActivity" />
        <activity android:name=".activities.selectionActivity_tablet" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6e6b990dbb90a74b38b13c0ffe93e11ad8b934cc" />
    </application>

</manifest>